<h1>
  Adicionar categoria
  <a [routerLink]="['/categories']" class="btn btn-success mb-2">Voltar</a>
</h1>
<hr>

<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <ul>
    <li *ngFor="let error of errorsMessages">{{ error }}</li>
  </ul>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="hideAlert()"></button>
</div>

<form>
  <div class="mb-3">
    <label class="form-label">Nome: *</label>
    <input type="text" name="name" [(ngModel)]="name" class="form-control">
  </div>
  <div class="mb-3">
    <button type="button" class="btn btn-primary" (click)="create()">Salvar</button>
  </div>
</form>
