<h1>Categorias</h1>
<a [routerLink]="['/categories/create']" class="btn btn-success">Adicionar</a>
<hr>

<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <ul>
    <li *ngFor="let error of errorsMessages">{{ error }}</li>
  </ul>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="hideAlert()"></button>
</div>

<div class="card shadow bg-white rounded">
  <div class="card-body px-0">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th>Nome</th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categorie of categories">
          <td class="text-center">{{ categorie.id }}</td>
          <td>{{ categorie.name }}</td>
          <td class="text-center">
            <button
              type="button"
              class="btn btn-primary mx-1"
              [routerLink]="['/categories/edit/', categorie.id]"
            >
              Editar
            </button>
            <button type="button" class="btn btn-danger mx-1" (click)="delete(categorie.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
